html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  color: #000033;
 
}

a {
  text-decoration: none;
  color: #000033;
}

a:hover {
  color: blue;
}

h1 {
  font-family: 'Karla', sans-serif;
}

h2 {
  font-family: 'Karla', sans-serif;
  text-align: center;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

button {
  display: inline-block;
}


/* header section */

header {
  height: 100px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  background: linear-gradient(to right, white, rgb(230, 207, 173));
}

header div {
  margin-left: 10%;
  width: 30%;
  display: flex;
  align-items: center;
}

#logo {
  width: 60px;
  margin-right: 10px;
}

nav {
  width: 50%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-weight: bold;
  font-size: 14px;
}

nav button {
  -webkit-appearance: none;
  background-color: transparent;
  width: 120px;
  height: 40px;
  font-size: .75em;
  border: 2px solid #000033;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

nav button:hover {
  background-color: #000033;
  color: white;
}


/* hero section */
main, #try-main {
  margin-top: 100px;
}

#hero-section {
  height: 450px;
  display: flex;
  background: linear-gradient(to right, white, rgb(230, 207, 173));
}

#hero-image {
  width: 50%;
  text-align: right;
}

#hero-image img {
  height: 450px;
}

#hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-text h1 {
  font-size: 6em;
  margin: 0;
}

#hero-text h2 {
  margin: 0 0 0 10px;
  font-size: 2em;
  text-align: left;
  font-family: 'Lora', serif;
}

#hero-text button {
  -webkit-appearance: none;
  width: 250px;
  height: 60px;
  margin: 10px 0 0 10px;
  border: 3px solid #000033;
  border-radius: 5px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #000033;
  color: white;
}

#hero-text button:hover {
  border-color: white;
}


/* pic section */


#pic-gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background: linear-gradient(to right, white, rgb(230, 207, 173));
  padding-top: 20px;
}

#pic-section img {
  object-fit: cover;
  width: 95%;
  height: 200px;
  justify-self: center;
  display: inline-block;
  margin-bottom: 20px;
}

/* vid section */

#vid-gallery {
  display: flex;
  background: linear-gradient(to right, white, rgb(230, 207, 173));
  padding: 20px 0 20px 0;
}

.video {
  width: 48%;
  margin: 0 auto;
}

/* copied video response https://www.ostraining.com/blog/coding/responsive-videos/ */

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/* review section */
#reviews {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

#reviews img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 100%;
}

.reviewer {
  width: 30%;
  text-align: center;
}

/* CONTACT SECTION */
footer {
  width: 100%;
  padding-top: 20px;
  background: linear-gradient(to right, white, rgb(230, 207, 173));
}

#contact {
  text-align: center;
  padding-bottom: 20px;
}

small {
  text-align: center;
  display: block;
  background-color: #000033;
  color: white;
  padding: 10px 0 10px 0;
}

/* TRY PAGE */
#try-main {
  height: 75vh;
  min-height: 550px;
  display: flex;
  text-align: center;
}

#catselect {
  width: 50%;
}

#catselect h2 {
  padding-top: 50px;
  font-size: 2em;
}

#catselect select, #catselect button {
  width: 50%;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  min-width: 300px;
}

#catselect button {
  margin-top: 200px;
  -webkit-appearance: none;
  border: 3px solid #000033;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #000033;
  color: white;
}

#catselect button:hover {
  border-color: white;
  cursor: pointer;
}

#catpic {
  width: 50%;
}

#catpic img {
  margin-top: 85px;
  object-fit: cover;
  width: 400px;
  height: 400px;
  border: 2px solid #000033;
  border-radius: 5px;
}

/* MEDIA QUERY FOR IPHONE PORTRAIT */

@media only screen 
  and (max-width: 480px){
    html {
      font-size: 14px;
    }
    nav a {
      font-size: 1em;
    }
   #home-link {
     display: none;
   }

   header div {
     margin-left: 5%;
     width: 20%;
   }

   nav {
     margin-right: 5%;
     width: 70%;
   }
   
   #reviews {
     display: block;
   }

   .reviewer {
     width: 100%;
   }

   #hero-section {
     display: block;
   }

   #hero-image {
     width: 100%;
     text-align: center;
   }
   #hero-text {
     width: 100%;
   }

   #hero-image img {
     height: 200px;
   }

   #vid-gallery {
     display: block;
   }

   .video {
     width: 96%;
     margin-bottom: 10px;
   }
   
   #try-main {
     display: block;
     height: auto;
   }
   #catselect, #catpic {
     width: 100%;
   }
}
